.search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: black;
  }
  
  .search-input.navbar-style {
    width: 350px;
    background: linear-gradient(to right, #BDE3FF, #FFFD9B);
  }
  
  .search-input.plain-style {
    width: 500px; 
    background: white;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid;
  }
  
  .search-button {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    color: #666;
  }
  