/* Navbar Search Bar */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 350px;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background: linear-gradient(to right, #BDE3FF, #FFFD9B);
    transition: all 0.3s ease;
    color: black;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid;
  }
  
  .search-button {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    color: #666;
  }
  
  /* Non-Navbar Search Bar */
  .search-container-1 {
    display: flex;
    align-items: center;
    position: relative;
    width: 785px;
    margin-bottom: 40px;
  }
  
  .search-input-1 {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.3s ease;
    background: white;
  }
  
  .search-input-1:focus {
    outline: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid;
  }
  
  .search-button-1 {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .search-icon-1 {
    width: 20px;
    height: 20px;
    color: #666;
  }
  